DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5433
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}
JWT_SECRET_KEY=secret
JWT_ALGORITHM=HS256
REDIS_HOST=localhost
REDIS_PORT=6329